.App {
  text-align: center;
}
.wrapper {
  display:flex;
  justify-content: space-between;
  align-items:center;
}
main {
  border-right:1px solid rgb(212, 210, 210);
  flex:1;
  overflow-y:scroll;
  padding: 10px;
}
.common {
  margin:0;
  height: calc(100vh - 50px);
}
aside {
  width: 40%;
  padding: 0px;
}
.card {
  padding: 10px;
  margin-bottom: 5px;
}
.card-top {
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.card-bottom{
  margin-top:5px;
  text-align: right;
}
.card-bottom button {
  margin-right:5px;
}
.image img {
  width:100px;
}
.quantity input {
  width:60px;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-top {
  border-bottom:1px solid rgb(212, 210, 210);
}
.right-bottom ul {
  list-style-type: none;
  padding:0;
  font-size: 12px;
}
.saved-item {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom:2px;
  border-bottom:1px solid rgb(212, 210, 210);
}
.saved-item button {
  font-size:10px;
  padding:0px 5px;
}
.saved-item-actions button:first-child {
  margin-right: 5px;
}